// -----------------------------------------------------------------------------
// This file contains all styles related to the Buttons component.
// -----------------------------------------------------------------------------

.button {
  @include truncate;
  @include transition;
  outline: 0;
  padding: 10px 15px;
  border-radius: $border-radius-base;
  background: #784cc0;
  color: $white;
  letter-spacing: 0.11px;
  cursor: pointer;

  &:hover {
    background: #976be2;
  }

  &:focus {
    background: #5d3999;
  }

  &.disabled,
  &:disabled {
    color: rgba($black, 0.5);
    background: transparent;
    pointer-events: none;
    opacity: 0.5;
  }

  &--default,
  &--success {
    padding: 15px;
    border: 1px solid;
    background: transparent;

    &:hover,
    &:focus {
      background: transparent;
    }
  }

  &--default {
    color: rgba($black, 0.4);
    border-color: #ceced2;

    &:hover,
    &:focus {
      color: $black;
      border-color: $black;
    }
  }

  &--success {
    color: green;
    border-color: green;
  }
}
