// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Positioning
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/// @type Display Model
@mixin flexbox-centering() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexbox-centering-vertical() {
  display: flex;
  align-items: center;
}

@mixin flexbox-centering-horizontal() {
  display: flex;
  justify-content: center;
}

/// @type Box Model
@mixin square($dimension) {
  width: $dimension;
  height: $dimension;
}

@mixin circle($dimension) {
  width: $dimension;
  height: $dimension;
  border-radius: 50%;
}

/// @type Other
@mixin transition($what: all, $time: 0.5s, $how: ease-out) {
  transition: $what $time $how;
}

/// Truncate text multiline
/// @param {string} $line-height - Line height of text
/// @param {number} $line-count - Number of line
/// @param {string} $bg-color - Background color of text
@mixin truncate-multiline($line-height: 1.2em, $line-count: 1, $bg-color: $white) {
  overflow: hidden;
  position: relative;
  line-height: $line-height;
  max-height: $line-height * $line-count;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bg-color;
  }
}
