// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Search page.
// -----------------------------------------------------------------------------

.search {
  &__link {
    color: #784cc0;
    font-weight: $font-weight-regular;
    letter-spacing: -0.34px;
  }

  &__title {
    margin: 45px 0;
    color: rgba($black, 0.75);
    font-size: 40px;
    font-weight: $font-weight-regular;
    letter-spacing: -0.96px;
  }

  &__form-control {
    height: 62px;
  }

  &__list {
    margin: 34px 0 0;
  }

  &__list-title {
    margin: 0 0 19px;
    color: $black;
    font-size: $font-size-small;
    letter-spacing: 0.09px;
  }

  &__list-row {
    @include flexbox-centering-vertical;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__list-column {
    width: calc(20% - 30px);
    margin: 15px;
  }
}
